/* Base Styles */
body {
    margin: 50px;
    padding: 50px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
.sIcons {
    height: 10px;
}


.searchContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; 

}

.searchBar{
    width: 750px; 
    height: 35px;
    font-size: 16px;
}

.searchButton {
    width: 125px;
    height: 25px;
    font-size: 16px;
}

/* Create a 4x4 grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 10px;
  width: 1000px;
  margin: 0 auto;
}

.grid-item {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 200px;
overflow: hidden;

}
/*Adjust the images to fit properly within the grid*/
.imger {
  height: 80px;
  object-fit: cover;
  justify-content: center;
}


oLetter {
    align-self: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    background-color: #e0e0e0;

}
